@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face  {
    font-family: Ribbon131;
    src: url("Fonts/ribbon_131_bold_bt.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face  {
    font-family: Coronet;
    src: url("Fonts/coronet_bold.ttf");
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color:rgb(255, 255, 255);
}

html, body {
    margin:0;
    padding:0;
    background-color: rgb(32, 32, 32);
}

.nav ul {
    margin:0;
}

.nav li {
    display: inline;
}

.nav a  {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav   {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.199);
}

.main-nav li{
    padding: 0 5%;
}

.nav a:hover {
    background-color:rgba(255, 255, 255, 0.199)
}

.main-header    {
    background-color: rgba(0,0,0,.6);
    background-image: url("Images/banner.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name   {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: Ribbon131;
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin:0 auto;
    padding:0 1.5em;
}

.section-header {
    font-weight: lighter;
    text-align: center;
}



